@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
  --background-grey: rgb(222 238 255);
  --spacing-mobile: 16px;
  --spacing-desktop: 36px;

  height: 100%;
  margin: 0;

  @media (min-width: 900px) {
    overflow: hidden; /* page non-scrollable */
  }
}